In [1]:
import pandas as pd
df = pd.read_csv('/content/Salaries.csv')
df

<ipython-input-1-e6bab1c8715d>:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [ ]:
# 1- BasPay ---> Basic Salary
# 2- Overtime Pay ----> extra hours - extra day
# 3- Other Pay ---> Transportion paid - hotel
# 4- Benefits ----> Bonous
# 5 - Total pay----> BasPay+Overtime Pay + Other Pay
# 6- Total PayBenefits ----> Benefits + Total Pay

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [3]:
df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

Check Datatypes

In [4]:
# BasePay - Overtimepay - otherpay - benefits have mixed data types
df.dtypes # dtypes ---> check data type for each column

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

Check Duplicates

In [5]:
df.duplicated().sum() # check there is duplicates or not

np.int64(0)

In [6]:
df.drop(columns='Id',inplace=True)

In [7]:
df.columns # appear name of columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [8]:
df.duplicated().sum() # check again on duplicates

np.int64(3)

Check Nulls

In [9]:
df.isnull().sum()

EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [12]:
x = {'key': 6}
y = pd.DataFrame([x])

In [13]:
(df.isnull().sum()/df.shape[0]*100) # BasePay - Bennefits - Notes - Status have null values

EmployeeName          0.000000
JobTitle              0.000000
BasePay               0.406985
OvertimePay           0.000000
OtherPay              0.000000
Benefits             24.324270
TotalPay              0.000000
TotalPayBenefits      0.000000
Year                  0.000000
Notes               100.000000
Agency                0.000000
Status               74.357232
dtype: float64

In [14]:
df.shape[0]

148654

In [15]:
pd.DataFrame({'Null':df.isnull().sum()/df.shape[0]*100}) # to name your column

                        Null
EmployeeName        0.000000
JobTitle            0.000000
BasePay             0.406985
OvertimePay         0.000000
OtherPay            0.000000
Benefits           24.324270
TotalPay            0.000000
TotalPayBenefits    0.000000
Year                0.000000
Notes             100.000000
Agency              0.000000
Status             74.357232

Check Irrelvant Columns

In [16]:
df['Agency'].value_counts() # Notes & Agency are irrelvant columns

Agency
San Francisco    148654
Name: count, dtype: int64

In [17]:
df['Status'].value_counts()

Status
FT    22334
PT    15785
Name: count, dtype: int64

Preprocessing

1- drop all irrelvant columns

In [18]:
df.drop(columns=['Notes','Agency','Status'],inplace=True)

In [19]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

2- Drop Duplicates

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df.duplicated().sum()

np.int64(0)

Fixed Data types

In [22]:
df['BasePay']=pd.to_numeric(df['BasePay'],errors='coerce')
df['OvertimePay']=pd.to_numeric(df['OvertimePay'],errors='coerce')
df['OtherPay']=pd.to_numeric(df['OtherPay'],errors='coerce')
df['Benefits']=pd.to_numeric(df['Benefits'],errors='coerce')

In [23]:
df.dtypes

EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
dtype: object

In [24]:
df.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148045.000000,148650.000000,148650.000000,112491.000000,148651.000000,148651.000000,148651.000000
mean,66325.448840,5066.059886,3648.767297,25007.893151,74769.830909,93694.445667,2012.522613
std,42764.635495,11454.380559,8056.601866,15402.215858,50516.398338,62792.756431,1.117529
min,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000
25%,33588.200000,0.000000,0.000000,11535.395000,36169.340000,44071.405000,2012.000000
50%,65007.450000,0.000000,811.270000,28628.620000,71427.220000,92406.010000,2013.000000
75%,94691.050000,4658.175000,4236.065000,35566.855000,105841.940000,132877.495000,2014.000000
max,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000

Handling Missing Value

In [25]:
#df['BasePay'].fillna(df['BasePay'].median(),inplace=True) to fill all NaN values with median
df['BasePay'].fillna(0,inplace=True)

<ipython-input-25-6435e07db02a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BasePay'].fillna(0,inplace=True)

In [26]:
df['Benefits'].fillna(0,inplace=True)

<ipython-input-26-00e4f33f8ff1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Benefits'].fillna(0,inplace=True)

In [28]:
df.isnull().sum() # to check again if all null values are removed

EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         1
OtherPay            1
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
dtype: int64

In [29]:
df.dropna(subset=['OvertimePay','OtherPay'],inplace=True) # delete row nan from column

EDA --> Exploratory Data analysis

In [30]:
#1- What is average of BasePay?
Avg=df['BasePay'].mean()
print(f'Average of BasePay is {Avg}')

Average of BasePay is 66055.50671772621

In [31]:
#2- What is the highest BasePay?
Highest = df['BasePay'].max()
print(f'Highest BasePay is {Highest}')

Highest BasePay is 319275.01

In [32]:
#2- What is the lowest BasePay?
lowest = df['BasePay'].min()
print(f'Lowest BasePay is {lowest}')

Lowest BasePay is -166.01

In [33]:
df.to_csv('Salaries_cleaned.csv',index=False)